[Unit]
Description=PlantCam capture & upload service
After=network.target

[Service]
Type=simple
User=juan
WorkingDirectory=/home/juan/Projects/plant-cam/collector_pi/
ExecStart=/home/juan/Projects/plant-cam/collector_pi/.venv/bin/python /home/juan/Projects/plant-cam/collector_pi/src/capture_upload.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
